<div class="container">
    <div>
        <h3>{{weaponCategory}}</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Strength</th>
                <th scope="col">Dexterity</th>
                <th scope="col">Intelligence</th>
                <th scope="col">Faith</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weapon of weapons">
                <td>{{weapon.name}}</td>
                <td>{{weapon.strength}} <span *ngIf="weapon.strength > strength">(Requires 2H)</span> </td>
                <td>{{weapon.dexterity}}</td>
                <td>{{weapon.intelligence}}</td>
                <td>{{weapon.faith}}</td>
            </tr>
        </tbody>
    </table>
</div>