<app-items-view-filter (filterCriteriaEvent)="applyFilter($event)"></app-items-view-filter>

<div *ngIf="showResults">
    <app-items-table *ngIf="matchedDaggers.length > 0" [weaponCategory]="'Daggers'" [weapons]="matchedDaggers" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedStraightSwords.length > 0" [weaponCategory]="'Straight Swords'" [weapons]="matchedStraightSwords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedGreatswords.length > 0" [weaponCategory]="'Great Swords'" [weapons]="matchedGreatswords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedUltraGreatswords.length > 0" [weaponCategory]="'Ultra Greatswords'" [weapons]="matchedUltraGreatswords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedCurvedSwords.length > 0" [weaponCategory]="'Curved Swords'" [weapons]="matchedCurvedSwords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedKatanas.length > 0" [weaponCategory]="'Katanas'" [weapons]="matchedKatanas" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedCurvedGreatswords.length > 0" [weaponCategory]="'Curved Greatswords'" [weapons]="matchedCurvedGreatswords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedPiercingSwords.length > 0" [weaponCategory]="'Piercing Swords'" [weapons]="matchedPiercingSwords" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedAxes.length > 0" [weaponCategory]="'Axes'" [weapons]="matchedAxes" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedGreataxes.length > 0" [weaponCategory]="'Great Axes'" [weapons]="matchedGreataxes" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedHammers.length > 0" [weaponCategory]="'Hammers'" [weapons]="matchedHammers" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedGreatHammers.length > 0" [weaponCategory]="'Great Hammers'" [weapons]="matchedGreatHammers" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedFists.length > 0" [weaponCategory]="'Fists and Claws'" [weapons]="matchedFists" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedSpears.length > 0" [weaponCategory]="'Spears and Pikes'" [weapons]="matchedSpears" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedHalberds.length > 0" [weaponCategory]="'Halberds'" [weapons]="matchedHalberds" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedReapers.length > 0" [weaponCategory]="'Reapers'" [weapons]="matchedReapers" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedWhips.length > 0" [weaponCategory]="'Whips'" [weapons]="matchedWhips" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedBows.length > 0" [weaponCategory]="'Bows'" [weapons]="matchedBows" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedGreatbows.length > 0" [weaponCategory]="'Greatbows'" [weapons]="matchedGreatbows" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedCrossbows.length > 0" [weaponCategory]="'Crossbows'" [weapons]="matchedCrossbows" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedStaves.length > 0" [weaponCategory]="'Staves'" [weapons]="matchedStaves" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedFlames.length > 0" [weaponCategory]="'Pyromancy Flames'" [weapons]="matchedFlames" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedTalismans.length > 0" [weaponCategory]="'Talismans'" [weapons]="matchedTalismans" [strength]="strength"></app-items-table>
    <app-items-table *ngIf="matchedChimes.length > 0" [weaponCategory]="'Sacred Chimes'" [weapons]="matchedChimes" [strength]="strength"></app-items-table>
</div>